@import '~app/bootstrap/variables';

img {
    max-width: 100%;
    height: auto;
}
svg {
    width: 100%;
    height: auto;
}
b,
strong {
    font-weight: 600;
}

.hide {
    display: none !important;
}

.noselect,
.form-check-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-header {
    margin-bottom: 1.5rem;
    color: #444;
    border-bottom: 1px solid $gray-lighter;
}

.page-header .h1,
.page-header .h2,
.page-header .h3,
.page-header .h4 {
    margin: 0 .5rem .5rem;
}

.main-container {
    background-color: #fff
}

.hover:hover {
    cursor: pointer;
}

.bookings {
    float: right;
}

.main-navigation {
    border-bottom: 2px solid $gray-lighter;

    &__dropdowns {
        margin-top: 1rem;
    }
}
.main-navigation-dropdown {
    height: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;

    &__dropdown-toggle {
        width: 100%;
        height: 100%;
        font-size: .95em;
        padding: .25rem 1rem;
    }
    &__toggle-label {
        margin: 0 .25rem;
    }

    .dropdown-item {
        padding: .5rem 1.5rem;
        font-size: .95em;
    }
}

.user-personal-menu {
    .dropdown-menu {
        min-width: 200px;
    }

    &__avatar {
        width: 35px;
        margin-right: .5rem;
        border-radius: 50%;
    }
}

.language-switcher {
    .dropdown-item {
        cursor: pointer;
    }

    &__icon.fa {
        margin-right: .5rem;
        vertical-align: middle;
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .main-navigation {
        &__dropdowns {
            margin-top: 0;
        }
    }
    .main-navigation-dropdown {
        margin-bottom: 0;
    }
}
