@import '~app/bootstrap/variables';

body {
    background-color: rgba(230, 229, 229, 0.1);
}
a,
.link-style {
    color: darken($teal, 30%);

    &:hover {
        color: darken($teal, 45%);
    }
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
}
svg {
    width: 100%;
    height: auto;
}
b,
strong,
th {
    font-weight: 600;
}
dt {
    font-weight: 500;
}

.hide {
    display: none !important;
}

.noselect,
.dropdown,
.form-check-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-align-top {
    vertical-align: top;
}
.v-align-middle {
    vertical-align: middle;
}
.v-align-bottom {
    vertical-align: bottom;
}

.container {
    &--min-height {
        &-350 {
            min-height: 350px;
        }
        &-400 {
            min-height: 400px;
        }
        &-500 {
            min-height: 500px;
        }
    }
}

.page-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid lighten($black, 90%);

    &__header {
        margin: 0 0 .5rem;
        font-size: 1.4rem;
        color: lighten($gray, 5%);
    }
}

.hover:hover {
    cursor: pointer;
}

.header {
    background: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(212, 207, 207, 0.24);
    box-shadow: 0 5px 5px -5px rgba(51, 51, 51, 0.21);

    &__menu {
        margin-bottom: 0;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    padding-left: 0;

    &__item {
        margin-left: 1rem;

        & > a {
            display: block;
            padding: .75rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: .025em;
            color: lighten($gray, 10%);
            border: 1px solid transparent;
        }

        a.active,
        & > a:hover {
            text-decoration: none;
            border: 1px solid rgba(62, 61, 61, .08);
            color: $white;
            background-color: rgba(230, 229, 229, .36);
            background-color: $orange;
            border-radius: 7px;
            transition: .1s linear;
        }

        &--smaller-margin {
            margin-left: .75rem;
        }
        &--bigger-margin {
            margin-left: 3rem;
        }
        &--align-stretch {
            align-self: stretch;
        }
    }
}

.home-slider {
    width: 100%;
    height: 600px;
    background: url('/template/img/bg.jpg') no-repeat center center;
    background-size: cover;

    &__steps {
        margin-top: 100px;
        text-align: center;
    }

    &__tabs {
        padding-top: 60px;
        text-align: center;
    }

    &__search {
        margin: 100px 1rem 0;
        text-align: center;
    }
}

.header-menu__dropdown {
    height: 100%;
    min-height: 40px;

    .dropdown-toggle,
    .dropdown-item {
        transition: all .2s;
        &:hover {
            text-decoration: none;
            background-color: lighten($orange, 30%);
        }
        &:active,
        &:focus,
        .active {
            background-color: lighten($orange, 25%);
        }
    }
    .dropdown-toggle {
        color: lighten($gray, 7%);
        height: 100%;
        padding: .25rem .75rem;
        font-weight: 600;
    }
    &.show > .dropdown-toggle {
        background-color: lighten($orange, 20%);
    }

    .dropdown-item {
        padding: 5px 1.5rem;
        font-size: .95em;
        color: lighten($gray, 15%);

        &:hover {
            color: lighten($gray, 18%);
        }
        &:focus,
        &:active {
            color: lighten($gray, 10%);
        }
    }

    &--user-menu {
        &__avatar {
            width: 35px;
            margin-right: .5rem;
            border-radius: 50%;
        }
        .dropdown-menu {
            min-width: 220px;
        }
    }
}

.header-locales-menu {

    &__locale-current {
        display: inline-block;
        vertical-align: middle;
    }

    &__locale-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: .25rem;
        vertical-align: bottom;

        &-item {
            fill: darken($teal, 30%);
        }
    }

    &__locale {
        cursor: pointer;
    }

    .dropdown-menu {
        min-width: 8rem;
    }
}

.application-footer-wrapper {
    background: #fff;
    border-top: 1px solid rgba(212, 207, 207, .4);
    box-shadow: 0 -5px 5px -5px rgba(51, 51, 51, .21);
}
.application-footer {
    padding-top: .5rem;
    line-height: 1;
    font-size: .8rem;

    &__copyrights {
        margin-bottom: 2rem;
    }

    &__content p {
        margin-bottom: .5rem;
    }
    &__content strong {
        font-weight: 500;
    }
}

.form-control {
    width: 100%;
    font-size: $font-size-base-smaller;
}

.form-input_no-border {
    border: none;
}
.form-check {
    margin: .5rem 1rem;

    &--with-text {
        margin-top: 0;
    }
}
.form-check-label {
    font-size: .9em;
}
.form-check-input {
    margin-right: 3px;
}

.form-control-label {
    font-size: $font-size-base-smaller;
}
.form-group {
    &.row {
        align-items: center;
    }
    &--last-for-btn {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}
.form-block-center {
    max-width: 500px;
    margin: auto;
}
.datetimepicker {
    &-label,
    &-wrapper {
        width: 100%;
    }

    &-wrapper .rdtPicker {
        top: 35px;
        left: 0;
    }
}

td.table-list-details__cell-for-action {
    width: 20px;
}

.table-list-details {
    th,
    td {
        font-size: .95rem;

        &:first-child {
            padding-left: .75rem;
        }
        &:last-child {
            padding-right: .75rem;
        }
    }
    th {
        padding: .5rem;
    }
    td {
        padding: .25rem .5rem;
        vertical-align: middle;
    }
    &__image {
        max-width: 80px;

        svg {
            margin-top: .5rem;
        }
    }
}


.modal-body--min-height {
    min-height: 250px;
}

.card {
    font-size: $font-size-base-smaller;
}

.with-background-teal,
.card-header {
    background-color: lighten($teal, 26%);
}

.card-header {
    padding: .75rem 1rem;
}

.position-relative {
    position: relative;
}

.has-notification {
    position: relative;

    &:before {
        $circle-radius: 6px;

        content: "";
        width: $circle-radius * 2;
        height: $circle-radius * 2;
        position: absolute;
        top: -$circle-radius;
        left: -$circle-radius;
        border: 2px solid $white;
        background: $brand-danger;
        border-radius: 50%;
        overflow: visible;
        z-index: 1;
    }
}

.notification-bar {
    background-color: $gray-light;
    z-index: 5;
    right: -100%;

    &-active {
        right: 1rem;
    }

    &-action {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &--success {
        background-color: $brand-success;
    }
    &--warning {
        background-color: $brand-warning;
    }
    &--info {
        background-color: $brand-info;
    }
    &--danger {
        background-color: $brand-danger;
    }
    &--primary {
        background-color: $brand-primary;
    }
}

#PlacesAutocomplete__root {
    margin-bottom: 0;
}
