.files-dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    height: 100%;
    padding: 1.5rem .5rem .75rem;
    text-align: center;
    border: 2px dashed #666;
    border-radius: 5px;
    cursor: pointer;
    opacity: .6;
    transition: all .4s;

    @media screen and (max-width: 767px) {
      max-width: 300px;
      margin: auto;
    }

    &--active,
    &:hover {
        opacity: 1;
    }
    &:active,
    &--active {
        border-style: solid;
    }
    &--accert {
        border-color: #5cb85c;
        color: #5cb85c;
    }
    &--reject {
        border-color: #d9534f;
        color: #d9534f;
    }

    &__icon {
        margin-bottom: .5rem;
        transition: all .2s;
    }
    &:active &__icon,
    &--active &__icon {
        transform: translateY(7px);
    }

    &__label {
        font-size: .95rem;
    }

    &__rules {
        margin-bottom: 0;
        font-size: .8rem;
        font-style: italic;
    }
}
