.bebeep-home-slogan {
    margin-bottom: 2rem;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center
}

.bebeep-home-img {
    max-width: 450px;
    margin: auto;
}
