.image-cropper {
    &__base-cropper {
        width: 200px;
        height: 200px;
        margin: auto;
    }

    &__buttons-rotate {
        margin-top: 1rem;
        text-align: center;
    }

    &__btn-image-rotate {
        margin: 0 .25rem;
        padding: .5rem .75rem;
        cursor: pointer;
    }
    &__btn-image-rotate-icon {
        opacity: .6;
        transition: opacity .4s;
    }
    &__btn-image-rotate:hover &__btn-image-rotate-icon {
        opacity: 1;
    }

    &__preview-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2rem;
    }

    &__image-preview {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    &__save {
      max-width: 150px;

      &-btn {
        width: 100%;
      }
    }
}
