.image-cropper {
    &__dropzone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 200px;
        padding: .5rem;
        text-align: center;
        border: 2px dashed #666;
        border-radius: 5px;
        cursor: pointer;
        opacity: .6;
        transition: all .4s;

        &--active,
        &:hover {
            opacity: 1;
        }
        &--active {
            border-style: solid;
        }
        &--accert {
            border-color: #5cb85c;
            color: #5cb85c;
        }
        &--reject {
            border-color: #d9534f;
            color: #d9534f;
        }
    }

    &__dropzone-icon {
        margin-bottom: 1rem;
    }

    &__dropzone-rules {
        margin-bottom: 0;
        font-size: .8em;
        font-style: italic;
    }

    &__base-cropper {
        width: 300px;
        height: 200px;
        margin: auto;
    }

    &__buttons-rotate {
        margin-top: 1rem;
        text-align: center;
    }

    &__btn-image-rotate {
        margin: 0 .25rem;
        padding: .5rem .75rem;
        cursor: pointer;
    }
    &__btn-image-rotate-icon {
        opacity: .6;
        transition: opacity .4s;
    }
    &__btn-image-rotate:hover &__btn-image-rotate-icon {
        opacity: 1;
    }

    &__preview-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__image-preview {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    &__btn {
        cursor: pointer;
    }
}

.user-current-avatar {
    display: flex;
    align-items: flex-end;

    &__block {
        margin-bottom: 0;
        margin-right: 1rem;
        text-align: center;
    }
    &__caption {
        margin-bottom: .5rem;
        font-size: 1.5em;
    }
}
