@import '~app/bootstrap/variables';

.image-cropper {
    &__main-container {
        display: flex;

        @media screen and (max-width: 768px) {
            justify-content: space-around;
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
        }
    }
    &__base-cropper {
        width: 250px;
        height: 200px;
        margin: auto;

        @media screen and (max-width: 568px) {
            width: 200px;
        }
    }

    &__buttons-rotate {
        margin-top: 1rem;
        text-align: center;
    }

    &__btn-image-rotate {
        margin: 0 .25rem;
        padding: .5rem .75rem;
        cursor: pointer;
        background-color: lighten($teal, 20%);

        &-icon {
            opacity: .6;
            transition: all .4s;
        }

        &:hover &-icon {
            opacity: 1;
        }
        &--left:active &-icon {
            transform: rotateZ(-40deg);
        }
        &--right:active &-icon {
            transform: rotateZ(40deg);
        }
        &:focus {
            box-shadow: 0 0 2px lighten($black, 63%);
        }
    }

    &__preview-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 3rem;

        @media screen and (max-width: 450px) {
            margin: 3rem auto 0;
        }
    }

    &__image-preview {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    &__save {
      max-width: 150px;

      &-btn {
        width: 100%;
      }
    }
}
