.user-current-avatar {
    &__block {
        margin-bottom: 0;
        margin-right: 1rem;
        text-align: center;
    }
    &__caption {
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }
    &__image {
        max-width: 150px;
        border-radius: 50%;
    }
}
