.user-profile-avatar {

  .files-dropzone {
    height: 250px;

    @media screen and (max-width: 767px) {
      max-width: 300px;
      height: 200px;
      margin: auto;
    }
  }

  .image-cropper {
    &__main-container {
      display: flex;

      @media screen and (max-width: 768px) {
        justify-content: space-around;
      }
      @media screen and (max-width: 450px) {
        flex-direction: column;
      }
    }

    &__base-cropper {
      width: 250px;

      @media screen and (max-width: 568px) {
        width: 200px;
      }
    }

    &__preview-wrapper {
      @media screen and (max-width: 450px) {
        margin: 3rem auto 0;
      }
    }
  }

  &__back-to-file-upload {
    margin-bottom: 1.5rem;
  }

  &__current-avatar {
    text-align: center;

    &-caption {
      margin: .5rem 0 1rem;
      font-size: 1.2rem;
    }
    &-image {
      max-width: 150px;
      border-radius: 50%;
    }
    &-delete {
      max-width: 150px;
      margin: 1.5rem auto;

      &-btn {
        width: 100%;
      }
    }
  }
}
