.user-profile-avatar {

  &__back-to-file-upload {
    margin-bottom: 1.5rem;
  }

  &__current-avatar {

    &-caption {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
    &-image {
      max-width: 150px;
      border-radius: 50%;
    }
    &-delete {
      max-width: 150px;
      margin-top: 1.5rem;

      &-btn {
        width: 100%;
      }
    }
  }
}
