version: "2.1"

services:
    mysql:
        image: mysql:latest
        volumes:
            - $PWD/.mysql-data/db:/var/lib/mysql
        restart: "on-failure"
        ports:
            - 127.0.0.1:3306:3306
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_DATABASE: $DB_DATABASE
            MYSQL_USER: $DB_USERNAME
            MYSQL_PASSWORD: $DB_PASSWORD
        healthcheck:
            test: mysql -u root -e 'use $DB_DATABASE'
            timeout: 1s
            interval: 5s
            retries: 10

    web:
        image: sergeyb/dev
        build: ./.docker/images/web/
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - $PWD:/var/www
        working_dir: /var/www
        links:
            - mysql
        depends_on:
            mysql:
                condition: service_healthy

    tests:
        image: sergeyb/dev
        volumes:
            - $PWD:/var/www
        working_dir: /var/www
        links:
            - mysql
        depends_on:
            mysql:
                condition: service_healthy
        command: /var/www/.docker/utils/run-tests.sh

    composer:
        restart: 'no'
        image: composer:latest
        volumes:
            - $PWD:/app
            - $PWD/.composer:/composer

    node:
        image: "node:8"
        volumes:
            - ./:/usr/src/app
        working_dir: /usr/src/app