.modalStyle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fcfcfc;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.48);
  padding: 20px;
  width: 80%;
}

.backdropStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
};

.big-map{
  height: 450px;
  width: 100%;
  margin-bottom:2px;
}