.autocomplete-container {
    position: absolute;
    top: 40px;
    background-color: white;
    border: 1px solid #999;
    width: 100%;
    z-index: 1000;
}
.trip-create-from {
    font-size: .9rem;
    .form-group {
        margin-bottom: 0 !important;
    }
}
.trip-create-from .card-footer {
    font-size: 13px;
}

.google-map {
    height: 430px;
    width: 100%;
    margin-top: 10px;
}

.stopover-row {
    margin-bottom: 20px;
}
