div.google-map {
    height: 400px;
    width: 100%;
    background-color: #eee;
}
.trip-create-from {
    max-height: 600px;
    min-width: 600px;
    margin: auto;
}
.autocomplete-container {
    position: absolute;
    top: 40px;
    background-color: white;
    border: 1px solid #999;
    width: 100%;
    z-index: 1000;
}