@import '~rc-slider/assets/index.css';

.react-datepicker__close-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.filter {

  &__prop:not(:last-child) {
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
  }

  &__prop-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__prop-sign {
    font-size: .9rem;
  }
}