@import '~rc-slider/assets/index.css';

.filter__prop-control .react-datepicker {
  &__close-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  &__input-container:before {
    content: "\f073";
    top: 15px;
    left: 15px;
    font-size: 1.4em;
    color: #6dcff6;
    font-family: FontAwesome;
    position: absolute;
  }
  &__input-container:after {
    content: "Когда";
    position: absolute;
    top: 15px;
    left: 45px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

}


.filter {

  &__prop:not(:last-child) {
    padding: 10px 0;
    margin-bottom: 5px;
  }

  &__prop {
    &-name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-sign {
      padding: 5px 0;
      font-size: .9rem;
    }

    &-datepicker-input {
      margin-top: 5px;
      padding: 26px 10px 5px 45px;
    }
  }

}