@import '~rc-slider/assets/index.css';

.filter__prop-control .react-datepicker {
  &__close-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  &__input-container {
    top: -20px;
  }
}

.filter {

  &__prop:not(:last-child) {
    padding: 10px 0;
    margin-bottom: 5px;
  }

  &-centered {
    @media screen and (max-width: 660px) {
      padding: 0 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__prop {
    &-name {
      font-weight: bold;
      margin-bottom: 10px;

      @media screen and (max-width: 660px) {
        margin-bottom: 15px;
      }
    }

    &-sign {
      padding: 5px 0;
      font-size: .9rem;
    }

    &-datepicker-input {
      margin-top: 5px;
      font-size: 17px !important;
      box-shadow: none;
      border-radius: 5px;
      padding: 0;
      margin-left: 30px;
      border: none;
    }

  }
}