@import '~app/bootstrap/variables';

.autocomplete-container {
  position: absolute;
  font-size: 14px;
  top: 30px;
  background-color: white;
  border: 1px solid #999;
  z-index: 1000;
}

#PlacesAutocomplete__root {
  margin-bottom: 0;
}

.search-input {
  font-size: 14px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
}

.btn-search {
  border-radius: 30px;
  width: 100%;
  background-color: #2a87d0;
  border-color: rgba(29, 93, 144, 0.66);
  -webkit-box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.62);
  box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.62);
}

.btn-search:hover {
  cursor: pointer;
}

.suggestion-item {
  padding: 5px;
  font-size: 13px;
  border-bottom: 1px solid #f4f4f4;
}

.suggestion-icon {
  padding-right: 10px;
  color: #3f84f5;
}

.form-control {
  width: 100%;
}

.date-picker {
  font-size: 14px;
  padding: 10px 15px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
}

.form-control-feedback {
  font-size: 12px;
}

.picker-error {
  border-color: #d9534f;
}

.search-block {
  margin-top: 15px;
  margin-bottom: 30px;

  &__btn {
    padding: 15px 25px;
    font-size: 1.05em;
    font-weight: 600;
    color: $white;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $teal;
    box-shadow: inset 0 -2px rgba(0, 0, 0, .2);

    &:hover {
      background-color: darken($teal, 30%);
    }
    &:focus,
    &:active {
      box-shadow: inset 0 1px rgba(0, 0, 0, .2);
      transform: translateY(2px);
    }
  }

  &__search-input {
    font-size: 14px;
    padding: 15px;
    -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);
  }

}
