.autocomplete-container {
  position: absolute;
  font-size: 14px;
  top: 30px;
  background-color: white;
  border: 1px solid #999;
  z-index: 1000;
}

#PlacesAutocomplete__root {
  margin-bottom: 0;
}

.search-input {
  font-size: 14px;
  padding: 10px 20px;
}

.btn-search {
  border-radius: 30px;
  width: 100%;
}

.suggestion-item {
  padding: 5px;
  font-size: 13px;
  border-bottom: 1px solid #f4f4f4;
}

.suggestion-icon {
  padding-right: 10px;
  color: #b6b6b6;
}

.form-control {
  width: 100%;
}

.date-picker {
  margin-left: 30px;
  font-size: 14px;
  padding: 10px 15px;
}