.search-result {

  &__header {
    background-color: #fff;
    margin-bottom: 10px;
    &-count {
      color: #636262;
    }
  }

  &__sort-container {
    text-align: right;
  }

  &__item-container {
    position: relative;
    min-height: 500px;
  }

  &__pagination {
    background-color: #fff;
    padding: 10px 0;
  }
}
