@import '~font-awesome/scss/_variables';
@import '~app/bootstrap/variables';

.search-trip-item {
  $bgColor: #fff;

  &-block {
    padding: 5px 10px;
  }

  display: block;
  background-color: $bgColor;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #272727;
  border: 1px solid rgba(217, 217, 217, 0.73);
  margin-bottom: 10px;

  &:hover {
    background-color: darken($bgColor, 1%);
    color: #272727;
    text-decoration: none;
    cursor: pointer;
  }

  &__user-container {
    padding: 10px 20px;
    border-right: 1px solid rgba(147, 147, 147, 0.85);
    @media screen and (max-width: 574px) {
      border-right: none;
    }
  }

  &__user-photo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 50%;
    float: left;
  }

  &__user-name {
    color: rgba(0, 0, 0, 0.84);
    letter-spacing: .5px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    padding-top: 20px;
  }

  &__user-age {
    font-size: .85rem;
    color: #999;
  }

  &__trip-container {
    padding-left: 25px;
    padding-right: 20px;
  }

  &__description {
    width: 65%;
    float: left;
  }
  &__offer {
    margin-top: -20px;
    width: 35%;
    float: left;
    text-align: right;
  }

  &__start-date {
    color: rgba(0, 0, 0, 0.74);
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__price {
    color: rgba(0, 0, 0, 0.74);
    font-size: 2.6rem;
    font-weight: bold;
  }

  &__price-currency {
    padding-left: 5px;
    font-size: 2.6rem;
  }

  &__price-sign {
    color: #636262;
    font-size: .8rem;
  }

  &__free-seats {
    margin-top: 5px;
    color: #636262;
    font-size: .8rem;
  }
  &__free-seats-text {
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    padding-right: 5px;
  }

  &__to,
  &__from {
    font-size: .9rem;
    color: #636262;
    margin-bottom: 5px;

    &-ico {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: .5rem;
      vertical-align: top;
      background-color: $white;
      border-radius: 50%;
      border: 3px solid $teal;
    }

    &-end {
      background-color: $teal;
    }
  }


  &__route {
    margin-bottom: 10px;
    word-break: break-word;

    &-item {
      color: #999;

      &_selected {
        color: #636262;;
      }
    }

    &-item:not(:last-child):after {
      content: $fa-var-long-arrow-right;
      font-family: FontAwesome;
      vertical-align: middle;
      color: #ADAFAF;
      font-size: .9rem;
      padding: 0 5px;
    }
  }
}