@import '~app/bootstrap/variables';

.search-result {

  &__header {
    font-size: .9rem;
    background-color: rgba(230, 229, 229, 0);
    margin-bottom: 10px;
    &-count {
      color: #636262;
    }
  }

  &__btn {
    &-subscribe {
      margin-top: 20px;
      padding: 15px 20px;
      font-size: 0.8em;
      background-color: #f68e56;
    }
  }

  &__sort-container {
    text-align: right;
  }

  &__item-container {
    position: relative;
    min-height: 600px;
  }

  &-datepicker {
    &-label {
      padding-right: 0;
      border: none;
    }
  }

  &-datepicker input {
    padding: 0;
    border: none;
  }

  &__pagination {
    background-color: #fff;
    padding: 15px 0;

    .active a {
      background-color: #6dcff6 !important;
      border-color: #6dcff6 !important;
    }
  }
}
