
.trip-list {

  position: relative;
  min-height: 500px;

  &__not-found {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #999;
    font-size: 2.5rem;
  }

  &__preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    left: -15px;
    min-height: 500px;
    text-align: center;
    padding-top: 20px;
    background: rgba(255,255,255, .8);
    color: #FF5722;
    z-index: 1;
  }
}