@import '~font-awesome/scss/_variables';

.trip-list {

  &__header {
    background-color: #fff;
  }

  &__sort-container {
    text-align: right;
    padding-right: 0;
  }

  &__sort {
    display: inline-block;
    padding: 10px 5px;
    color: #121212;

    &:focus,
    &:hover,
    &_active {
      text-decoration: none;
      background-color: #efefef;
      color: #121212;
    }

    &_active:after {
      content: $fa-var-long-arrow-up;
      font-family: FontAwesome;
      vertical-align: middle;
      margin-left: 3px;
      font-size: .8rem;
    }
    &_active.trip-list__sort_asc:after {
      content: $fa-var-long-arrow-down;
    }
  }

  &__item-container {
    position: relative;
    min-height: 500px;
  }

  &__item-link {
    color: #272727;
    &:hover {
      color: #272727;
      text-decoration: none;
    }
  }
  
  &__preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    left: -15px;
    min-height: 500px;
    text-align: center;
    padding-top: 20px;
    background: rgba(255,255,255, .8);
    color: #FF5722;
    z-index: 1;
  }

  &__pagination {
    background-color: #fff;
    padding: 10px 0;
  }

  &__not-found {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #999;
    font-size: 2.5rem;
  }

}