.loading-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #999;
  font-size: 2.5rem;
  display: none;

  &_show {
    display: flex;
  }
}
.preloader_active {
  padding-top: 100px;
}

.driver-avatar {
  margin-bottom: 20px;
}

.driver-years {
  font-weight: 100;
}

.small-text {
  font-size: 50%;
}

.fa-star {
  color: rgba(241, 199, 31, 0.88) !important;
  padding-right: 5px;
}
.fa-circle {
  color: rgba(0, 110, 255, 0.84) !important;
}

.rating-info {
  margin: 15px 0;
}