.loading-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #999;
  font-size: 2.5rem;
  display: none;

  &_show {
    display: flex;
  }
}
.preloader_active {
  padding-top: 100px;
}

.driver-avatar {
  margin-bottom: 20px;
}

.driver-years {
  font-weight: 100;
}

.small-text {
  font-size: 50%;
}

.fa-star {
  color: rgba(241, 199, 31, 0.88) !important;
  padding-right: 5px;
}
.fa-circle {
  color: rgba(0, 110, 255, 0.84) !important;
}

.rating-info {
  margin: 25px 0;
}
.driver-about-me {
  border-radius: 5px;
  background-color: rgba(136, 200, 255, 0.27);
  padding: 15px 10px;
}

.card {
  position:relative;
}
.card>.card-header:after,.card>.card-header:before{
  position:absolute;
  top:14px;
  left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.card>.card-header:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.card>.card-header:before{
  border-right-color:#ddd;
  border-width:8px;
}

.user-photo {
  border-radius: 20%;
}

.comment {
  margin-bottom: 15px;
}