.loading-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #999;
  font-size: 2.5rem;
  display: none;

  &_show {
    display: flex;
  }
}
.preloader_active {
  padding-top: 100px;
}

.driver-profile {
  padding-right: 10px;
}

.driver-profile-border {
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.driver-avatar {
  margin-bottom: 20px;
}

.driver-years {
  font-weight: 100;
}

.small-text {
  font-size: 50%;
}

.fa-star {
  color: rgba(241, 199, 31, 0.88) !important;
  padding-right: 5px;
}
.preference-green {
  color: #5cb85c !important;
  margin-right: 5px;
}

.preference-red {
  color: rgba(199, 44, 21, 0.93) !important;
  margin-right: 5px;
}

.rating-info {
  margin: 25px 0;
}

.driver-about-me {
  border-radius: 5px;
  background-color: rgba(136, 200, 255, 0.27);
  padding: 20px;
}

.card-comment {
  position:relative;
}

.card {
  & > .comment-header {
    &:before,&:after {
      position:absolute;
      top:14px;
      left:-16px;
      right:100%;
      width:0;
      height:0;
      display:block;
      content:" ";
      border-color:transparent;
      border-style:solid solid outset;
      pointer-events:none;
    }
  }
}

.card {
  & > .comment-header {
    &:after {
      border-width:7px;
      border-right-color:#f7f7f7;
      margin-top:1px;
      margin-left:2px;
    }
  }
}

.card {
  & > .comment-header {
    &:before {
      border-right-color:#ddd;
      border-width:8px;
    }
  }
}

.user-photo {
  border-radius: 20%;
  max-height: 80px;
  max-width: 80px;
}

.comment {
  margin-bottom: 15px;
}

.driver-name {
  margin-bottom: 20px;
}

.driver-additional-info {
  padding-left: 15px;
}

.driver-car-block {
  padding: 15px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}

.driver-car {
  border: 1px solid rgba(128, 128, 128, 0.19);
  width: 230px;
  height: 140px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.driver-verifications{
  color: #5cb85c !important;
}

.driver-verifications i {
  padding-right: 10px;
}

/* Driver rating styles */

.rating__marker {
  width: 35px;
  line-height: 1;
}

.rating-marker {
  height:9px;
  margin: 5px 0;
}

.rating__progress {
  width: 180px;
}
.rating-progress {
  height: 9px;
  margin:8px 0;
}

.rating-breakdown-count {
  margin-left: 10px;
}