@import '~app/bootstrap/variables';
@import '~font-awesome/scss/variables';

.search-users {
  position: relative;

  &__ico {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    color: $gray-light;
  }

  &__input {
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0;
    padding: $input-padding-y $input-padding-x;
  }
}