@import '~app/bootstrap/variables';
@import '~font-awesome/scss/variables';

.search-users {
  margin-top: 2rem;
  border-bottom: 2px solid $list-group-border-color;

  &__icon-wrapper {
    padding: $input-padding-x;
    padding-left: $list-group-item-padding-x;
    background-color: $white;
    border-bottom-left-radius: 0;
  }

  &__icon {
    max-width: 15px;
  }

  &__input {
    border-left: 0;
    border-bottom-right-radius: 0;

    &:focus {
        border-color: $input-border-color;
    }
  }
}
