@import '~app/bootstrap/variables';
@import '~font-awesome/scss/variables';
@import "~bootstrap/scss/mixins/breakpoints";

.user-list-group {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all .2s;
    }

    &--noactive:before {
        z-index: 2;
        background-color: rgba($white, .7);
    }
}

.user-list-item {
  display: block;
  padding: .5rem $list-group-item-padding-x;
  transition: all .15s;

  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:hover {
    background-color: lighten($orange, 32%);
  }

  a:link,
  a:focus,
  a:hover {
    text-decoration: none;
  }

  @include media-breakpoint-down(xs) {
    padding-left: .5rem;
  }
}

.user-item {
  color: $gray-dark;

  &:hover,
  &:focus,
  &:link {
    color: $gray-dark;
    text-decoration: none;
  }

  &__avatar-container {
    max-width: 35px;
    margin-left: auto;
    position: relative;
  }

  &__status-online {
    $badge-radius: 6px;

    width: $badge-radius * 2;
    height: $badge-radius * 2;
    position: absolute;
    right: -$badge-radius / 2;
    bottom: 0;

    border-radius: 50%;
    border: 2px solid $white;
    background-color: $brand-success;
  }
  &__name {
    font-size: $font-size-base-smaller;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__envelope {
    position: absolute;
    right: 20px;
    color: $teal;

    @include media-breakpoint-down(xs) {
      right: $list-group-item-padding-x / 2;
    }
  }

  &__avatar {
    border-radius: 50%;

    &--online {
      border-color: lighten($brand-success, 5%);
    }
  }
}
