@import '~app/bootstrap/variables';

.trip-bookings-modal {
    padding-bottom: 0;
}
.booking-back,
.btn-booking {
    color: $white;
    border-color: darken($teal, 35%);
}
.booking-back {
    background-color: darken($teal, 20%);
}
.btn-booking {
    padding: 6px 12px;
    background-color: darken($teal, 35%);
}
.btn-booking:hover{
    color: darken($white, 10%);
    background-color: darken($teal, 32%);
}
.img-booking-user {
  width: 50px;
  height: 50px;
}
.booking-modal-item {
    &__buttons {
        text-align: center;
    }

    &__button {
        margin: 0 .5rem;
        padding: 6px 12px;
    }
}
.li-bookings {
    margin-top: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, .19);

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    & img {
        margin-top: -1rem;
    }
}
