.li-bookings img{
    margin-top: -1rem;
}
.li-bookings {
  margin-top: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, .19);
}
.li-bookings:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.li-bookings:first-child {
    margin-top: 0;
}
.booking-back,
.btn-booking {
    background-color: rgba(2, 117, 216, .89);
    color: #ffffff; border-color: rgb(0, 111, 203);
}
.btn-booking:hover{
    background-color: rgb(0, 104, 193);
}
.modal-body{
    padding-bottom: 0;
}
.img-booking-user {
  width: 50px;
  height: 50px;
}
.booking-modal-item {
    &__buttons {
        text-align: center;
    }

    &__button {
        margin: 0 .5rem;
    }
}
