.trip-actions .btn {
    margin-right: 10px;
}

.trip-item {
    margin-bottom: 30px;
}

.deleted-trip .card {
    border-color: #d9534f;
}

.badge-red {
    background-color: #ff0000e6;
    border-radius: 0.4rem;
}